form#sw_settings_form {
    padding: 20px;
}

form#sw_settings_form table.form-table {
    margin: 0;
}

h1.sw_settings_header {
    text-align: left;
}

form#sw_settings_form table.form-table th,
form#sw_settings_form table.form-table td {
    box-sizing: border-box;
    width: 50%;
    padding: 0;
}
form#sw_settings_form table.form-table th {
    float: left;
    bottom: -6px;
    position: relative;
    white-space: nowrap;
    font-weight: 400;
}
form#sw_settings_form table.form-table td {
    float: right;
    text-align: right;
}

div.sw_settings_top {
    height: 40px;
}
form#sw_settings_form p.submit {
    clear: both;
    text-align: right;
    position: relative;
    bottom: 55px;
}

@media only screen and (max-width: 390px) {
    div.sw_settings_top {
        height: 80px;
        text-align: center;
    }
    form#sw_settings_form p.submit {
        text-align: center;
        bottom: 11.5px;
    }
}

@media only screen and (min-width: 500px) {
    form#sw_settings_form table {
        width: 50%;
    }
    form#sw_settings_form span#sw_section_config_advanced + table {
        /*width: 100%;*/
    }
    form#sw_settings_form table:first-of-type,
    form#sw_settings_form h3:first-of-type {
        width: 50%;
        float: left;
    }
    form#sw_settings_form span#sw_section_colors_font + table {
        float: right;
        clear: right;
    }
    form#sw_settings_form h3:not(:first-of-type) {
        position: absolute;
        right: 0;
        width: 50%;
    }
    form#sw_settings_form table.form-table th {
        /*width: auto;*/
        padding-left: 20px;
    }
}

@media only screen and (max-width: 782px) {

}
h2#sw_tab_wrapper {
    text-align: center;
}
h2 .nav-tab {
    font-weight: 400;
}
form#sw_settings_form a:focus {
    box-shadow: none;
}

form#sw_settings_form h3,
form#sw_settings_form table.form-table,
form#sw_settings_form span[id^="sw_section"] {
    display: none;
}

/* COLORS SECTION */
form#sw_settings_form[data-active="sw_tab_colors"] span[id^="sw_section_colors"] {
    display: block;
}
form#sw_settings_form[data-active="sw_tab_colors"] span[id^="sw_section_colors"] + table.form-table {
    display: table;
}
/* FONTS SECTION */
form#sw_settings_form[data-active="sw_tab_fonts"] span[id^="sw_section_fonts"] {
    display: block;
}
form#sw_settings_form[data-active="sw_tab_fonts"] span[id^="sw_section_fonts"] + table.form-table {
    display: table;
}
/* OPTIONS SECTION */
form#sw_settings_form[data-active="sw_tab_options"] span[id^="sw_section_config"] {
    display: block;
}
form#sw_settings_form[data-active="sw_tab_options"] span[id^="sw_section_config"] + table.form-table {
    display: table;
}


/* COLOR PICKER */
form#sw_settings_form .sw_color_picker_box a.wp-color-result,
form#sw_settings_form .sw_color_picker_box span.wp-picker-input-wrap {
    margin: 0;
}
form#sw_settings_form .wp-picker-container {
    padding-right: 15px;
}
form#sw_settings_form .wp-color-result {
    white-space: nowrap;
}

/* SLIDER SHIT */
form#sw_settings_form div.sw_slider_box input[type="text"] {
    display: none;
}
form#sw_settings_form div.sw_slider_box input[type="range"] {
    width: 100%;
}
form#sw_settings_form div.sw_slider_box output {
    width: 100%;
    text-align: center;
    display: inline-block;
}

/* SECTION TITLE */
form#sw_settings_form span.sw_settings_section_title {
    box-sizing: border-box;
    font-size: 14px;
    font-weight: bold;
    width: 50%;
    position: absolute;
    padding-left: 20px;
}
form#sw_settings_form span.sw_settings_section_title + table.form-table {
    margin-top: 47px;
}
form#sw_settings_form span[id^="sw_section_colors"].sw_settings_section_title + table.form-table,
form#sw_settings_form span[id="sw_section_config_advanced"].sw_settings_section_title + table.form-table {
    margin-top: 30px;
}
@media only screen and (min-width: 500px) {
    form#sw_settings_form span#sw_section_colors_font.sw_settings_section_title {
        right: 0;
    }
}